# Ignore Pro templates - they are paid features!
templates/*/pro/
templates/nestjs/free
templates/python-fastapi/free

# Other ignores
node_modules/
.git/
.github/
tests/
coverage/
.env*
*.log
.DS_Store
old/
apps/
docs/

